td,tr,th{
                
    border: 1px solid black;
    text-align: center;

}

th,td{
    padding: 12px 15px;
}

th{
    background-color: green;
    color: white;
}
table{
    border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
font-family: sans-serif;
min-width: 800px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

caption{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

#refresh{
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    transition: all 0.3s linear;
        
}

.savebtn{
    padding: 12px 0px;
    width: 200px;
    z-index:1;
    color: #080710;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    background: #fff;
}

.savebtn::before{
    content: "";
    top: 0%;
    left: -100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    transition: left 0.4s, color 0.4s;
    background-color:#202020;
}

.savebtn:hover{
    color: #fff;
}

.savebtn:hover::before{
    left:0%;
}


/* reset btn */
.resetbtn:hover{
color: #fff;
}

.resetbtn::before{

    content: "";
    top: 0%;
    left: -100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: red;
    border-radius: 5px;
    position: absolute;
    transition: all 0.4s, color 0.4s;
    background-color:#d9534f;
}

.resetbtn:hover::before{
right: 0%;
}



input[type=text]
{
padding: 10px 3px;
font-size: 16px;
border: none;
background-color: transparent;
border-bottom: 2px solid black;
outline:none;
margin-left: 5px;



}

input[type=text]:focus{
border: 2px solid dodgerblue;
border-color: dodgerblue;
border-radius: 20px;
}



input[type=text]::placeholder{
text-align: center;

}

label{
font-size: 18px;
}

.searchbox {
position: absolute;
left: 50%;
transform:  translate(-50%,50%);
background: #122838;
height: 40px;
border-radius: 40px;
padding: 10px;

}


.searchbox:hover  .searchinput {
width: 240px;
padding: 0 6px;
}

.searchbox:hover  .searchbutton {
background: white;
color : #122838;
}


.searchbutton:hover{
cursor:pointer;
}





.searchbutton {
color: white;
float: right;
width: 40px;
height: 40px;
border-radius: 50%;
background: #2f3640;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s;
border:none;
}

.searchinput {
border:none;
background: none;
outline:none;
padding: 0;
color: white;
font-size: 16px;
transition: 0.4s;
line-height: 40px;
width: 100px;

}


.searchandrefresh{
display:flex;
white-space: nowrap;
}

